@inject NavigationManager NM;
@inject IJSRuntime JSRuntime;
@using Markdig
<div id="@Href" class="panos-card @activeClass()" @onclick="toggleActive">
    @if (!toggle)
    {
        <div class="panos-tags">
            @foreach (var tag in Tags)
            {

                <a class="panos-tag">@tag</a>
            }
        </div>

        <div style="height:10px" />
        <h5>@Title</h5>
        <div style="height:10px" />
        <h7>@(Date.ToString("MMM dd, yyyy"))</h7>
        <div style="height:2px" />

        <img src="@Image" class="panos-card-image">
        <div style="height:2px" />
        <a href="#" class="panos-card-show-more">Show More</a>
    }
    else
    {
        @((MarkupString) Markdown.ToHtml(Text))
    }
</div>







@code
{
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public List<string> Tags { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public string Text{ get; set; }

    public bool toggle=false;
    public async void toggleActive(){
        if (!toggle){
            toggle=!toggle;
            if (toggle){
               await Task.Delay(250);
                JSRuntime.InvokeVoidAsync("Nav_ScrollIntoView", Href);
            }
        }
    }
    public string activeClass() {
        return toggle ? "active" : "";




  }
}
